:root {
    --primary-color: #874c62;
    --secondary-color: #c98474;
  }
  
  body {
    font-family: sans-serif;
  }

  h2 {
    color: #952323;
  }

  h3 {
    font-size: 1.25em;
  }

  .container {
    width: 70%;
    margin: 0 auto;
    align-items: center;
  }

  header {
    height: 150px;
    background: #952323;
  }

  .hero {
    background: #F8ECD6;
    width: 100%;
  }

  .color {
    background: #F8ECD6;
    width: 100%;
  }

  .card {
    display: flex;
    gap: 1em;
  }

  .card-image {
    width: 50%;
    padding: 1.5em;
    object-fit: fill;
  }

  .card-content {
    width: 50%;
    padding: 1.5em;
    line-height: 1.5em;
  }

  footer {
    background: #952323;
    height: 250px;
    color: #ffffff;
  }

  .footer-content {
    color: #ffffff;
    padding-left: 5em;
    padding-top: 2em;
  }
  
  /*
  .container {
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container2 {
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #F8ECD6;
  }

 

  .content {
    max-width: 500px;
    padding-left: 30px;
  }
  
 
  */
  